[submodule "libft"]
	path = libft
	url = https://github.com/Guiforge/libft.git
[submodule "binary_test"]
	path = binary_test
	url = https://github.com/UgurcanOzdemir/ft_nm-ft_otool_binaire_de_test.git
